@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
window#waybar {
    background: #323232;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

/* Each module */
#battery,
#pulseaudio,
#backlight,
#clock,
#cpu,
#memory {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-size: 16px;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network.vpn {
    padding-left: 10px;
}

#network.wlan {
    padding-right: 10px;
}

#network.wlan.disconnected {
    color: orange;
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
}

#workspaces button.active {
    color: white;
    background-color: #285577;
}

#custom-splash {
    padding-left: 30px;
    font-style: italic;
    font-size: 16px;
}
